<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sky.chowder">

    <!-- 自定义权限 -->
    <!-- <permission -->
    <!-- android:name="sky.permission.ACTION_MY" -->
    <!-- android:protectionLevel="normal" /> -->

    <!-- <uses-permission android:name="sky.permission.ACTION_MY" /> -->
    <!--<uses-permission android:name="com.sky.coustom" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 申请大内存 -->
        <!-- android:largeHeap="true" -->

        <!-- 与build.gradle相呼应 -->
        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <!-- 与build.gradle相呼应完-->
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="279dc3c61d77f5b08b4970a31db93c62" />

        <!--拍照时使用-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sky.chowder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--拍照时使用-->

        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:description="@string/act_01_des">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.activity.GuideActivity" />


        <activity
            android:name=".ui.activity.SolarSystemActivity"
            android:description="@string/act_02_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_02"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.StockActivity"
            android:description="@string/act_03_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_03"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BezierActivity"
            android:description="@string/act_04_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_04"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SlidingMenuActivity"
            android:description="@string/act_05"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_05"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CircleProgressActivity"
            android:description="@string/act_CircleProgress_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_08"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PuzzleActivity"
            android:description="@string/act_10"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_10"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ImageUrlActivity"
            android:description="@string/act_11_des"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_11"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ImageUriActivity"
            android:description="@string/act_12"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_12"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PullDownActivity"
            android:description="@string/act_13"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_13"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DetailActivity"
            android:description="@string/act_14"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_14"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
                <action android:name="android.intent.action.SET_TIMER" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.sky.action.detail" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DrawActivity"
            android:description="@string/act_15"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_15"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FactoryActivity"
            android:description="@string/act_16"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_16"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SVGActivity"
            android:description="@string/act_17"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_17"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TabLayoutActivity"
            android:description="@string/act_18"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_18"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.VideoActivity"
            android:description="@string/act_19"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_19"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:description="@string/act_20"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_20"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SelectActivity"
            android:description="@string/act_21"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_21"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BroadActivity"
            android:description="@string/act_06_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_06"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ServiceActivity"
            android:description="@string/act_07_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_07"
            android:screenOrientation="portrait" />

        <service android:name=".ui.service.IntentTest" />
    </application>

</manifest>