<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sky.chowder">
    <!-- 自定义权限 -->
    <!--<permission-->
    <!--android:name="sky.permission.ACTION_MY"-->
    <!--android:protectionLevel="normal" />-->

    <!--<uses-permission android:name="sky.permission.ACTION_MY" />-->
    <uses-permission android:name="com.sky.coustom" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!--申请大内存-->
        <!--android:largeHeap="true"-->

        <!-- 与build.gradle相呼应 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="279dc3c61d77f5b08b4970a31db93c62" />

        <activity android:name=".ui.activity.GuideActivity" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:description="@string/act_01_des">
            <intent-filter>
                <action android:name="com.sky.coustom" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SolarSystemActivity"
            android:description="@string/act_02_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_02"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RecyclerActivity"
            android:description="@string/act_03_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_03"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.other.CustomActivity"
            android:description="@string/act_04_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_04"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:description="@string/act_05_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_05"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sky.coustom" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ReceiverActivity"
            android:description="@string/act_06_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_06"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.activity.ServiceActivity"
            android:description="@string/act_07_desc"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/act_07"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>